---

- name: give the network switch an initial, base config for our environment
  hosts: 
    cisco_ios_switches
  become: True
  gather_facts: False
  tasks:
    - name: send the config commands 
      cisco.ios.ios_config:
        lines: 
          - ip ssh version 2
          - spanning-tree mode mst
          - spanning-tree mst 0 priority 61440
          - ntp server 10.2.14.101
          - clock timezone mst -7
          - clock summertime mst recurring
          - lldp run
          - cdp run
          - boot fast
          - ip snmp-server community 1Lynk890 RO
          - ip snmp-server host 10.2.13.21 version 2c 1Lynk890
          - vlan 3
          - name printers
          - vlan 7 
          - name wireless_bridges
          - vlan 9 
          - name cams
          - vlan 10
          - name workstations
          - vlan 11
          - name iscsi
          - vlan 12
          - name salespoints
          - vlan 13
          - name workstations_aux
          - vlan 14
          - name servers
          - vlan 20
          - name phones_infra
          - vlan 21
          - name phones
          - vlan 30 
          - name wifi_infra
          - vlan 31
          - name wifi_internal
          - vlan 32
          - name wifi_external
          - vlan 64
          - name wifi_free
          - vlan 208
          - name docsis_mgmt
          - vlan 209
          - name docsis_dhcp
          - vlan 250
          - name radios
          - vlan 60
          - name unknown
          - vlan 128  
          - name DMU_Wifi_Mgmt
          - vlan 132  
          - name DMU_WiFi_InternalIP
          - vlan 136  
          - name DMU_PublicIP
          - vlan 137  
          - name DurangoTV
          - vlan 208  
          - name CMTS_Mgmt
          - vlan 209 
          - name Cable_Modems 
          - vlan 224  
          - name IPTV
          - vlan 300  
          - name unknown1 
          - vlan 778  
          - name BrainStormCorpBackup 
          - vlan 779  
          - name P2P_To_Main 
          - vlan 800 
          - name Brainstorm_Traffic1 
          - vlan 881  
          - name Brainstorm_Traffic2 
          - vlan 900  
          - name P2P_Backhaul 
          - vlan 901  
          - name Internet_Backhaul 
          - vlan 940  
          - name DMU_CableModems
          - interface vlan 3
          - description printers
          - end
          - interface vlan 7 
          - description wireless_bridges
          - end
          - interface vlan 9 
          - description cams
          - end
          - interface vlan 10
          - description workstations
          - end
          - interface vlan 11
          - description iscsi
          - end
          - interface vlan 12
          - description salespoints
          - end
          - interface vlan 13
          - description workstations_aux
          - end
          - interface vlan 14
          - description servers
          - end
          - interface vlan 20
          - description phones_infra
          - end
          - interface vlan 21
          - description phones
          - end
          - interface vlan 30
          - description wifi_infra
          - end
          - interface vlan 31
          - description wifi_internal
          - end
          - interface vlan 32
          - description wifi_external
          - end
          - interface vlan 64
          - description wifi_free
          - end
          - interface vlan 208
          - description cmts_mgmt
          - end
          - interface vlan 209
          - description cable_modems
          - end
          - interface vlan 250
          - description radios
          - end
          - interface vlan 60
          - description unknown
          - end
          - interface vlan 128  
          - description DMU_Wifi_Mgmt
          - end
          - interface vlan 132  
          - description DMU_WiFi_InternalIP
          - end
          - interface vlan 136  
          - description DMU_PublicIP
          - end
          - interface vlan 137  
          - description DurangoTV
          - end
          - interface vlan 224  
          - description IPTV
          - end
          - interface vlan 300  
          - description unknown1 
          - end
          - interface vlan 778  
          - description BrainStormCorpBackup
          - end 
          - interface vlan 779  
          - description P2P_To_Main 
          - end
          - interface vlan 800 
          - description Brainstorm_Traffic1 
          - end
          - interface vlan 881  
          - description Brainstorm_Traffic2
          - end 
          - interface vlan 900  
          - description P2P_Backhaul
          - end 
          - interface vlan 901  
          - description Internet_Backhaul
          - end 
          - interface vlan 940
          - description DMU_CableModems
          - end  
          - no errdisable detect cause gbic-invalid
          - no errdisable detect cause pagp-flap
          - no errdisable detect cause dtp-flap
          - no errdisable detect cause link-flap
          - no errdisable detect cause pppoe-ia-rate-limit
          - errdisable recovery cause udld
          - errdisable recovery cause bpduguard
          - errdisable recovery cause security-violation
          - errdisable recovery cause channel-misconfig
          - errdisable recovery cause pagp-flap
          - errdisable recovery cause dtp-flap
          - errdisable recovery cause link-flap
          - errdisable recovery cause sfp-config-mismatch
          - errdisable recovery cause gbic-invalid
          - errdisable recovery cause l2ptguard
          - errdisable recovery cause psecure-violation
          - errdisable recovery cause port-mode-failure
          - errdisable recovery cause dhcp-rate-limit
          - errdisable recovery cause pppoe-ia-rate-limit
          - errdisable recovery cause mac-limit
          - errdisable recovery cause storm-control
          - errdisable recovery cause inline-power
          - errdisable recovery cause arp-inspection
          - errdisable recovery cause link-monitor-failure
          - errdisable recovery cause oam-remote-failure
          - errdisable recovery cause loopback
          - errdisable recovery cause psp
          - errdisable recovery cause mrp-miscabling
          - errdisable recovery interval 30

        # before: 
          #- erase startup-config (note: this command would require confirmation, to be handled by ansible)  
          #- delete vlan.dat (note: this command would require confirmation, to be handled by ansible)  
          #- reload
          #- copy usbflash0:(ios_image_name) flash:/
          #- (note: this command would require confirmation, to be handled by ansible)  
          #- boot system switch all flash:/(ios_image_name)
          #- reload (system installs the new image and then asks if we are ready to reboot/reload)
          #- note: these commands below would be issued after the new image is loaded, which will take 10-20 min.   
          #- no logging console
          #- hostname (assign a hostname)
          #- username itadmin privelage 15 secret M@rm0t5!~!
          #- enable secret dmr909
          #- aaa new-model
          #- aaa authentication login default local  
          #- ip domain-name durangomountain.local
          #- ip default gateway 10.2.2.251
          #- ip name-server 10.2.14.101
          #- vlan 2
          #- name switches
          #- here, we would assign the vlan an ip and subnet mask that is not already in use
          #- int vlan 2 
          #- description switches
          #
    
